{
  "extends": ["next", "plugin:prettier/recommended", "prettier", "plugin:@typescript-eslint/recommended"],
  "rules": {
    "@next/next/no-img-element": "off",
    "@typescript-eslint/ban-ts-comment": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "react/display-name": "off",
    "prettier/prettier": "warn",
    "prefer-const": "warn",
    "import/order": [
      "warn",
      {
        "alphabetize": {
          "order": "asc",
          "caseInsensitive": true
        },
        "groups": [
          ["builtin", "external"],
          "internal",
          "parent",
          "sibling",
          "unknown"
        ],
        "pathGroups": [
          {
            "pattern": "react",
            "group": "external",
            "position": "before"
          },
          {
            "pattern": "*.{,s}css",
            "group": "unknown",
            "patternOptions": {
              "matchBase": true
            }
          }
        ],
        "pathGroupsExcludedImportTypes": ["builtin"],
        "newlines-between": "always",
        "warnOnUnassignedImports": true,
      }
    ],

  }
}
