@import "../../styles/mixins.scss";

.Button {
  @include button-reset;
  @include box-design(var(--color-white), true);
  @include center-children;
  @include font-gamma;
  font-weight: 600;

  min-width: 10em;
  min-height: 5rem;

  text-align: center;

  &:active:not(.isDisabled) {
    transform: translate(var(--shadow-offset), var(--shadow-offset));
    box-shadow: none !important;
  }

  :global(.keyboard-focus) &:focus {
    @include keyboard-focus();
  }
}

.isDisabled {
  opacity: 0.4;
  cursor: default;
}

.isSmall {
  min-width: initial;
  min-height: initial;

  padding: 0.2em 0.5em;
}
