@import "../../styles/mixins.scss";

.TabSelect {
  display: flex;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.Tab {
  @include button-reset;
  @include box-design(var(--color-white), true);
  @include center-children;
  @include font-gamma;

  width: 100%;
  min-height: 5rem;

  text-align: center;

  .TabSelect:not(.isDisabled) &:active {
    transform: translate(var(--shadow-offset), var(--shadow-offset));
    box-shadow: none !important;
  }

  &.isSelected {
    @include box-design(var(--color-highlight), true);
    color: var(--color-white);
  }

  :global(.keyboard-focus) &:focus {
    @include keyboard-focus();
  }
}

.isDisabled {
  opacity: 0.4;
  cursor: default;
}
