@import "mixins.scss";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  position: relative;

  &:focus {
    outline-color: var(--color-highlight);
  }
}

::selection {
  background: var(--color-highlight-alpha);
}

a {
  color: inherit;
  text-underline-offset: 0.3em;
  text-decoration-color: var(--color-font-med);

  &:hover {
    text-decoration-color: currentColor;
  }
}

html {
  font-size: 10px;
}

html,
body {
  max-width: 100vw;
  min-height: 100vh;
  overflow-x: hidden;

  @include font-gamma;

  background: var(--color-background);
  color: var(--color-font-reg);

  font-variant-numeric: tabular-nums;
}

h1 {
  @include font-alpha;
  color: var(--color-highlight);
}

h2 {
  @include font-beta;
  margin-top: 0.3em;
  margin-bottom: 0.2em;
}

h3 {
  @include font-gamma;
}

h4 {
  @include font-epsilon;
  opacity: 0.5;
}

footer {
  @include font-gamma;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  color: var(--color-font-med);

  a {
    color: var(--color-font-reg);
  }

  ul {
    display: flex;
    gap: 1em;
    justify-content: space-between;
    list-style: none;
  }
}

.footer_bg {
  padding: 0.2rem 0.8rem;
  background: var(--color-background);
}

.expansion--type-base {
  --expansion-highlight-color: #ff0000;
}
.expansion--type-seafarers {
  --expansion-highlight-color: #019dcd;
}
.expansion--type-cities-and-knights {
  --expansion-highlight-color: #d97f1e;
}
.expansion--type-cities-and-knights-and-seafarers {
  --expansion-highlight-color: #8500ff;
}

@media only screen and (max-width: $mobile-width) {
  body {
    background: var(--color-background);
  }

  footer {
    flex-direction: column-reverse;
    gap: 1em;

    ul {
      justify-content: flex-start;
    }
  }
}
