.Wrapper {
  min-height: 100vh;

  background-image: url("/dot.svg");

  display: flex;
  flex-direction: column;

  :global(.is-dark-mode) & {
    background-image: url("/dot-dark.svg");
  }

  &.isGame {
    background-image: none !important;
  }
}

.isGame {
  height: 100vh;
  width: 100vw;

  overflow: hidden;
}

.Wrapper main {
  margin-top: auto;
}

.Wrapper footer {
  margin-top: auto;
}
