$mobile-width: 720px;

@mixin button-reset {
  appearance: none;

  font-family: inherit;
  letter-spacing: inherit;
  padding: 0;
  white-space: normal;
  text-align: left;
  border: none;
  background-color: transparent;
  color: inherit;
  outline: none;

  user-select: none;

  cursor: pointer;
}

@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin hard-shadow($color: var(--color-black)) {
  box-shadow: 4px 4px 0px $color;
}

@mixin box-design(
  $color: var(--color-white),
  $hasShadow: false,
  $shadowColor: var(--color-black)
) {
  border-radius: var(--outline-radius);
  border: solid var(--outline-width) var(--outline-color);
  background-color: $color;

  @if $hasShadow {
    @include hard-shadow($shadowColor);
  }
}

// big headline
@mixin font-alpha {
  font-size: 28px;
  font-family: var(--font-family-reg);
  font-weight: 600;
  letter-spacing: 0.03em;
}

// medium headline
@mixin font-beta {
  font-size: 22px;
  font-family: var(--font-family-reg);
  font-weight: 600;
  letter-spacing: 0.03em;
}

// regular text
@mixin font-gamma {
  font-size: 16px;
  font-family: var(--font-family-reg);
  font-weight: 600;
  letter-spacing: 0.03em;
}

// small text
@mixin font-delta {
  font-size: 13px;
  font-family: var(--font-family-reg);
  font-weight: 600;
  letter-spacing: 0.03em;
}

// small text
@mixin font-epsilon {
  font-size: 13px;
  font-family: var(--font-family-reg);
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
