$mobile-width: 720px;

@mixin button-reset {
  appearance: none;

  font-family: inherit;
  letter-spacing: inherit;
  padding: 0;
  white-space: normal;
  text-align: left;
  border: none;
  background-color: transparent;
  color: inherit;
  outline: none;

  user-select: none;

  cursor: pointer;
}

@mixin center-children {
  display: flex;
  justify-content: center;
  align-items: center;
}

@mixin floating-ui() {
  border-radius: var(--border-radius-big);
  padding: 2rem;
  background-color: var(--color-card-bg);
  border: solid var(--stroke-width) var(--color-border);
  box-shadow: 0 0 0 1rem #0002;
}

@mixin hard-shadow($color: var(--color-black)) {
  box-shadow: var(--shadow-offset) var(--shadow-offset) 0 $color;
}

@mixin box-design(
  $color: var(--color-card-bg),
  $hasShadow: false,
  $shadowColor: var(--color-black)
) {
  border-radius: var(--border-radius-button);
  border: solid var(--stroke-width) var(--color-border);
  background-color: $color;

  @if $hasShadow {
    @include hard-shadow($shadowColor);
  }
}

// Fonts -------------------------------------------------

// big headline
@mixin font-alpha {
  font-size: 3.2rem;
  font-family: var(--font-family-reg);
  font-weight: 800;
  letter-spacing: 0.03em;
}

// medium headline
@mixin font-beta {
  font-size: 1.6rem;
  font-family: var(--font-family-reg);
  font-weight: 600;
  letter-spacing: 0.03em;
}

// regular text
@mixin font-gamma {
  font-size: 1.3rem;
  line-height: 1.4;
  font-family: var(--font-family-reg);
  font-weight: 400;
}

// tiny text
@mixin font-delta {
  font-size: 1.3rem;
  font-family: var(--font-family-reg);
  font-weight: 600;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

// small headline
@mixin font-epsilon {
  font-size: 1rem;
  font-family: var(--font-family-reg);
  font-weight: 800;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}
