:root {
  --font-family-reg: "Inter", "Helvetica", sans-serif;

  --color-page-background: #e7e4eb;

  --color-background: #fff;

  --color-black: #000;
  --color-white: #fff;
  --color-gray: #e4e7eb;

  --color-primary: #8500ff;
  --color-primary-transparent: #8500ff33;
  --color-secondary: #fff500;

  --color-font-reg: hsl(0, 0%, 0%);
  --color-font-med: hsl(0, 0%, 40%);
  --color-font-dis: hsl(0, 0%, 60%);

  --card-width: 150px;
  --card-height: 240px;

  --card-color-bg: var(--color-white);
  --card-color-outline: var(--color-black);

  --outline-width: 2px;
  --outline-color: var(--color-black);
  --outline-radius: 8px;

  --color-player-red: #ff0000;
  --color-player-orange: #ff9900;
  --color-player-blue: #3083ff;
  --color-player-white: #ffffff;
  --color-player-brown: #734113;
  --color-player-green: #1f9d96;

  --color-event-type-temporary: #37d2ad;
  --color-event-type-barbarian-ship: #ff9900;
  --color-event-type-one-time: #8500ff;

  --color-rule: #4082e3;

  --player-background-opacity: 0.5;

  --gap: 20px;
}
