:root {
  --font-family-reg: "Inter", "Helvetica", sans-serif;

  // Sizes
  --stroke-width: 0.1rem;
  --shadow-offset: 0.2rem;

  // Sizes Radius
  --border-radius-button: 0.4rem;
  --border-radius-card: 0.8rem;
  --border-radius-big: 1.6rem;

  // Colors Font
  --color-font-reg: #000000; // hsl(240, 100%, 8%);
  --color-font-med: #0000004d; // 30% opacity

  --color-white: #ffffff;
  --color-black: var(--color-font-reg);
  --color-black--STAY: #000000;

  // Colors
  --color-highlight: #8500ff;
  --color-highlight-alpha: #8500ffbb;
  --color-border: var(--color-font-reg);
  --color-background: #f7f7f7;
  --color-card-bg: var(--color-white);

  // Colors Players
  --color-player-red: #ef1616;
  --color-player-orange: #ff9900;
  --color-player-blue: #3083ff;
  --color-player-white: #ffffff;
  --color-player-brown: #bb6e1b;
  --color-player-green: #3dc70d;

  // Colors Events
  --color-event-type-temporary: #04d47c;
  --color-event-type-barbarian-ship: #ff9900;
  --color-event-type-one-time: var(--color-highlight);
  --color-event-type-rule: #00b2ff;
}

@media (prefers-color-scheme: dark) {
  :root {
    // Colors Font
    --color-font-reg: #cccccc; // hsl(240, 100%, 8%);
    --color-font-med: #cccccc4d; // 30% opacity

    --color-white: #333;

    // Colors
    --color-highlight: #a645ff;
    --color-highlight-alpha: #a645ffbb;
    --color-background: #222;
  }
}
