@import "../../styles/mixins.scss";

.Card {
  --event-card-highlight-color: #000;

  width: 100%;
  height: min-content;

  border-radius: var(--border-radius-card);
  border: solid var(--stroke-width) var(--color-border);
  background: var(--color-card-bg);

  padding: 1.6rem;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.2rem;
}

.isInit {
}

// Themes
.typeRule {
  --event-card-highlight-color: var(--color-event-type-rule);
}
.typeTemporary {
  --event-card-highlight-color: var(--color-event-type-temporary);
}
.typeBarbarianShip {
  --event-card-highlight-color: var(--color-event-type-barbarian-ship);
}
.typeOneTime {
  --event-card-highlight-color: var(--color-event-type-one-time);
}

// Style
.Header {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 0.8rem;
}

.CardIcon {
  color: var(--event-card-highlight-color);
  height: 2rem;
}

.Title {
  @include font-beta;
  color: var(--event-card-highlight-color);
}

.Description {
  @include font-gamma;
  max-width: 26em;
  width: 100%;
}

.Footer {
  width: 100%;
  display: flex;
  height: 1.6rem;
  align-items: center;
  gap: 0.4rem;
}

.FooterLabel {
  @include font-epsilon;
  color: var(--event-card-highlight-color);
}

// Timed Event
.typeTemporary {
  .Progress {
    position: relative;
    overflow: hidden;
    background-color: var(--color-background);
    border-radius: 99999px;
    width: 100%;
    height: 0.9rem;
    transform: translateZ(0);
    border: solid var(--stroke-width) var(--color-border);
  }

  .ProgressIndicator {
    background: var(--event-card-highlight-color);
    border-right: solid var(--stroke-width) var(--color-border);
    width: 100%;
    height: 100%;
  }

  label {
    text-align: right;
    min-width: 44px;
    font-variant-numeric: tabular-nums;
    white-space: nowrap;
    @include font-gamma;
    color: var(--event-card-highlight-color);
  }
}

// Barbarian Ship
.typeBarbarianShip {
  // TODO: Fix Line
  .FooterLine {
    width: 100%;
    height: 0.8rem;
    background: url("/wave-line.svg");
    background-size: auto 100%;
    background-repeat: repeat-x;
  }
}

// One Time Event
.typeOneTime {
  .FooterLine {
    width: 100%;
    border-bottom: dashed 0.2rem var(--event-card-highlight-color);
  }
}

// Rule
.typeRule {
  .FooterLine {
    width: 100%;
    border-bottom: solid 0.2rem var(--event-card-highlight-color);
  }
}
