@import "../../styles/mixins.scss";

.Card {
  --event-card-highlight-color: #000;

  min-width: var(--card-width);
  min-height: var(--card-height);
  height: min-content;

  border-radius: 5px;
  border: solid 3px var(--card-color-outline);
  box-shadow: 4px 4px 0px var(--card-color-outline);

  background: var(--card-color-bg);

  padding: 0.5em;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
}

.isRule {
  --event-card-highlight-color: var(--color-rule);

  min-height: initial;
}

.typeTemporary {
  --event-card-highlight-color: var(--color-event-type-temporary);
}
.typeBarbarianShip {
  --event-card-highlight-color: var(--color-event-type-barbarian-ship);
}
.typeOneTime {
  --event-card-highlight-color: var(--color-event-type-one-time);
}

.CardIcon {
  color: var(--event-card-highlight-color);
  height: 26px;
}

.Title {
  @include font-gamma;
  color: var(--event-card-highlight-color);
  text-align: center;
}

.Description {
  @include font-delta;
}

.Controls {
  margin-top: auto;
  width: 100%;
  @include center-children;
}

.ControlsProgress {
  display: flex;
  width: 100%;
  align-items: center;
  gap: 6px;

  label {
    @include font-delta;
    color: var(--event-card-highlight-color);
  }
}

.Controls progress {
  width: 100%;
  @include button-reset;
  height: 10px;
  cursor: default;

  &::-webkit-progress-bar {
    background-color: transparent;
    border-radius: 100px;
    border: solid 2px var(--event-card-highlight-color);
  }

  &::-webkit-progress-value {
    background: var(--event-card-highlight-color);
  }
}
.DoneButton {
  color: var(--event-card-highlight-color);
  border-color: var(--event-card-highlight-color);

  &:active {
    background: var(--event-card-highlight-color);
    color: var(--color-white);
  }
}

.typeBarbarianShip .Controls {
  color: var(--event-card-highlight-color);

  .BarbarianShipIcon {
    height: 26px;
  }
}

.isInit {
  width: 280px;
  min-height: 360px;

  .Icon {
    font-size: 32px;
  }

  .Title {
    font-size: 26px;
  }

  .Description {
    font-size: 18px;
  }
}
