@import "../../styles/mixins.scss";

.ExpansionSelect {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: var(--gap);
}

.Expansion {
  @include button-reset;
  @include box-design(
    var(--color-white),
    true,
    var(--expansion-highlight-color)
  );
  @include center-children;

  flex-direction: column;
  gap: 10px;

  flex: 1;
  min-height: 100px;
  padding: 1em 0.5em;

  text-align: center;

  &:active {
    transform: translate(4px, 4px);
    box-shadow: none !important;
  }

  &.isSelected {
    @include box-design(var(--expansion-highlight-color), true);
    color: var(--color-white);
  }
}
.IconContainer {
  @include center-children;
  gap: 5px;
}

.Icon {
  height: 2em;
}

.Label {
  @include font-gamma;
}

.TypeBase {
  --expansion-highlight-color: #ff0000;
}

.TypeSeafarers {
  --expansion-highlight-color: #019dcd;
}
.TypeCitiesKinghts {
  --expansion-highlight-color: #d97f1e;
}

.TypeSeaAndKinights {
  --expansion-highlight-color: #8500ff;
}
