@import "../../styles/mixins.scss";

.SinglePlayerSelect {
  @include box-design(var(--player-color));
  padding: 10px;
  padding-right: 40px;
  overflow: hidden;

  display: flex;
  flex: 1;

  &:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--player-color);
    opacity: var(--player-background-opacity);
  }
}

.SinglePlayerSelect:global(.color-red) {
  --player-color: var(--color-player-red);
}
.SinglePlayerSelect:global(.color-blue) {
  --player-color: var(--color-player-blue);
}
.SinglePlayerSelect:global(.color-orange) {
  --player-color: var(--color-player-orange);
}
.SinglePlayerSelect:global(.color-white) {
  --player-color: var(--color-player-white);
}
.SinglePlayerSelect:global(.color-brown) {
  --player-color: var(--color-player-brown);
}
.SinglePlayerSelect:global(.color-green) {
  --player-color: var(--color-player-green);
}

.SinglePlayerSelect input {
  @include button-reset;
  @include font-gamma;

  width: 100%;

  &::placeholder {
    color: currentColor;
    opacity: 0.6;
  }
}

.SinglePlayerSelect.isInactive {
  opacity: 0.5;
}

.SinglePlayerSelect.isInactive:focus-within {
  opacity: 0.7;
}

.RemoveButton {
  @include center-children;
  padding-bottom: 4px;

  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  width: 40px;

  cursor: pointer;
  opacity: 0.3;
  &:hover {
    opacity: 1;
  }
}
