@import "../../styles/mixins.scss";

.GameMain {
  height: 100vh;
  width: 100vw;

  display: grid;
  grid-template-areas:
    "events rules"
    "controls controls";

  grid-template-rows: 1fr max-content;
  grid-template-columns: 1fr 320px;

  background: var(--color-background);
}

.Events {
  padding: var(--gap);

  grid-area: events;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-width), 1fr));
  grid-template-rows: repeat(auto-fill, minmax(var(--card-height), 1fr));

  grid-gap: var(--gap);

  overflow-y: scroll;
  z-index: 1;

  background: url("/dot-grid.svg");
}

.Rules {
  grid-area: rules;

  background: var(--color-page-background);

  padding: var(--gap);

  overflow-y: scroll;

  display: flex;
  flex-direction: column;
  gap: var(--gap);

  border-left: solid 2px var(--color-black);
  z-index: 1;
}

.Controls {
  grid-area: controls;
}

.IsPauseIndicator {
  @include center-children;

  grid-row-start: events;
  grid-column-start: events;
  grid-row-end: rules;
  grid-column-end: rules;
  z-index: 2;
  background: var(--color-primary-transparent);
}

.IsPauseIndicator_Icon {
  height: 100px;
  color: var(--color-primary);
  transform-origin: center center;

  animation-name: pulsate;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

@keyframes pulsate {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.2);
  }
}

.NewEventContainer {
  @include center-children;

  grid-row-start: events;
  grid-column-start: events;
  grid-row-end: rules;
  grid-column-end: rules;
  z-index: 2;

  background: #0008;
}

.WinnerContainer {
  @include center-children;

  grid-row-start: events;
  grid-column-start: events;
  grid-row-end: controls;
  grid-column-end: controls;
  z-index: 3;
}

@media only screen and (max-width: $mobile-width) {
  .GameMain {
    display: grid;
    grid-template-areas:
      "events"
      "rules"
      "controls";

    grid-template-rows: 2fr 1fr max-content;
    grid-template-columns: 1fr;
  }

  .Rules {
    border-left: none;
    border-top: solid 2px var(--color-black);
  }

  .Events {
    grid-template-columns: repeat(auto-fill, minmax(1fr, var(--card-width)));
  }
}
