@import "../../styles/mixins.scss";

.GameEventPopover {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  align-items: center;
}

.CardContainer {
  zoom: 1.4;

  max-width: 60vw;
}

.ButtonWrapper {
  border-radius: var(--border-radius-button);

  &:focus-within {
    @include keyboard-focus;
  }
}
