@import "../../styles/mixins.scss";

.GameControls {
  display: grid;
  grid-template-areas: "play_pause players settings";
  grid-template-columns: 160px 1fr 160px;
  grid-gap: calc(var(--gap) * 2);
  padding: var(--gap);

  background: var(--color-background);
  border-top: solid 2px var(--color-black);

  user-select: none;
}

.playpause {
  grid-area: play_pause;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.players {
  grid-area: players;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}
.settings {
  grid-area: settings;

  align-self: end;
  justify-self: end;
}

.Button_Play {
  color: var(--color-primary);
}
.Button_Text {
  @include font-beta;
}

.Button_Icon {
  height: 2em;
  margin-right: 0.5em;
}

.ExitButton {
  background: var(--color-player-red);
  color: var(--color-white);
}
