@import "../../styles/mixins.scss";

.SinglePlayerDisplay {
  display: flex;
  gap: 10px;
  align-items: center;

  // padding: 4px;

  // flex: 1;

  // font-size: 16px;

  // color: var(--player-color);

  // border-radius: var(--border-radius);
  // overflow: hidden;

  // display: flex;
  // justify-content: space-betweem;

  // &:before {
  //   content: "";
  //   display: block;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   right: 0;
  //   bottom: 0;
  //   background-color: var(--player-color);
  //   opacity: var(--player-background-opacity);
  // }
}

.SinglePlayerDisplay:global(.color-red) {
  --player-color: var(--color-player-red);
}
.SinglePlayerDisplay:global(.color-blue) {
  --player-color: var(--color-player-blue);
}
.SinglePlayerDisplay:global(.color-orange) {
  --player-color: var(--color-player-orange);
}
.SinglePlayerDisplay:global(.color-white) {
  --player-color: var(--color-player-white);
}
.SinglePlayerDisplay:global(.color-brown) {
  --player-color: var(--color-player-brown);
}
.SinglePlayerDisplay:global(.color-green) {
  --player-color: var(--color-player-green);
}

.Name {
  width: 10em;
  text-align: right;
}

.PointBarContainer {
  width: 100%;
  height: 20px;

  border: solid var(--outline-width) var(--outline-color);
  background: var(--color-gray);
}

.PointBar {
  height: 100%;
  border-right: solid var(--outline-width) var(--outline-color);
  background: var(--player-color);
}

.PointCount {
  font-size: 14px;
  font-weight: bold;
  position: absolute;
  left: calc(100% + 0.5em);
  top: 50%;
  transform: translateY(-50%);
}

.Buttons {
  display: flex;
  gap: 10px;
  align-items: center;
}
