@import "../../styles/mixins.scss";

.GameContainer {
  @include center-children;
  width: 100vw;
  // height: 100vh;
}

.GameContainerNav {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
}

.info {
  position: fixed;
  top: 0;
  left: 0;
  padding: 10px;
  background-color: #000;
  color: #fff;
  font-size: 10px;

  z-index: 100;
}
