@import "../../styles/mixins.scss";

.Slider {
  display: flex;
  gap: 1rem;
  width: 100%;
  align-items: center;
}

.Label {
  flex-grow: 0;
  flex-shrink: 0;
  width: 4em;

  @include font-gamma;
  font-weight: 600;
  color: var(--color-font-med);
}

.SliderContainer {
  flex-grow: 1;

  height: 4rem;
  cursor: pointer;

  display: flex;
  align-items: center;
  user-select: none;
  touch-action: none;
}

.Track {
  position: relative;
  flex-grow: 1;
  background-color: var(--color-border);
  height: calc(var(--stroke-width) * 2);
}

.Range {
  position: absolute;
  background-color: var(--color-highlight);
  height: 100%;
}

.Thumb {
  display: block;
  width: 2rem;
  height: 4rem;

  margin-top: calc(var(--shadow-offset) * -1);
  margin-left: calc(var(--shadow-offset) * -1);

  @include box-design(var(--color-white), true);

  &:active {
    transform: translate(var(--shadow-offset), var(--shadow-offset));
    box-shadow: none !important;
  }

  &:focus {
    outline: none;
  }

  :global(.keyboard-focus) &:focus {
    @include keyboard-focus();
  }
}

.Slider input[type="range"] {
  @include button-reset;
  width: 100%;

  &:focus {
    // outline: none;
  }
  &::-webkit-slider-runnable-track {
    @include button-reset;
    width: 100%;
    height: 4rem;
    cursor: pointer;

    background-color: transparent;

    // animate: 0.2s;
    // box-shadow: 1px 1px 1px #000000;
    // background: #3071a9;
    // border-radius: 5px;
    // border: 1px solid #000000;
  }
  &::-webkit-slider-thumb {
    @include button-reset;
    width: 2rem;
    height: 4rem;

    margin-top: calc(var(--shadow-offset) * -1);
    margin-left: calc(var(--shadow-offset) * -1);

    @include box-design(var(--color-white), true);
  }
  &:active::-webkit-slider-thumb {
    transform: translate(var(--shadow-offset), var(--shadow-offset));
    box-shadow: none !important;
  }

  &:focus::-webkit-slider-runnable-track {
    // background: #3071a9;
  }
}
