@import "../../styles/mixins.scss";

.Slider {
  display: flex;
  gap: var(--gap);
  width: 100%;
  align-items: center;
}

.Label {
  flex-grow: 0;
  flex-shrink: 0;
  width: 4em;

  @include font-gamma;
  font-weight: 600;
  color: var(--color-font-med);
}

.Slider input[type="range"] {
  @include button-reset;

  flex-grow: 1;

  &:focus {
    // outline: none;
  }
  &::-webkit-slider-runnable-track {
    @include button-reset;
    width: 100%;
    height: 2px;
    cursor: pointer;
    background-color: var(--color-black);

    // animate: 0.2s;
    // box-shadow: 1px 1px 1px #000000;
    // background: #3071a9;
    // border-radius: 5px;
    // border: 1px solid #000000;
  }
  &::-webkit-slider-thumb {
    @include button-reset;
    width: 20px;
    height: 40px;

    margin-top: -22px;
    margin-left: -4px;

    @include box-design(var(--color-white), true);
  }
  &:active::-webkit-slider-thumb {
    transform: translate(4px, 4px);
    box-shadow: none !important;
  }

  &:focus::-webkit-slider-runnable-track {
    // background: #3071a9;
  }
}
